<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});

function formSubmit(){
    document.queryTeacher.submit();
}
</script>


</head>


<body>
<div class="place">
    <span>位置：</span>
    <ul class="placeul">
        <li><a href="#">首页</a></li>
        <li><a href="#">数据表</a></li>
        <li><a href="#">基本内容</a></li>
    </ul>
</div>

<div class="rightinfo">
    <form action="/grade" name="queryTeacher">
        <input type="hidden" name="option" value="8"/>
        <input type="hidden" name="id" value="{{ id }}"/>
        <div class="tools">
            <ul class="toolbar">
                <li>
                    <span>教师姓名</span>
                    <input type="text" name="teacherName" value="{{ defaultName }}" style="height: 30px; margin-left: 10px"/>
                </li>
                <li><span><img src="static/images/ico06.png" onclick="formSubmit();" /></span></li>
            </ul>
        </div>
    </form>

    <table class="tablelist">
        <thead>
        <tr>
            <th>姓名<i class="sort"><img src="static/images/px.gif" /></i></th>
            <th>所属学院</th>
            <th>电话</th>
            <th>操作</th>
        </tr>
        </thead>

        <tbody>
        {% for teacher in teachers %}
        <tr>
            <td>{{ teacher.name }}</td>
            <td>{{ teacher.collegeName}}</td>
            <td>{{ teacher.phone }}</td>
            <td>
                <a href="/grade?option=9&gradeId={{ id }}&teacherId={{ teacher.id }}" class="tablelink">指定为班主任</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>

</html>
