<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="/static/js/jquery.js"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})	
</script>


</head>

<body style="background:#f0f9fd;">
	<div class="lefttop"><span></span>通讯录</div>
    
    <dl class="leftmenu">
    {% if leaveSession != null and leaveSession.hasPermission('baseInfo') %}
    <dd>
    <div class="title">
    <span><img src="/static/images/leftico01.png" /></span>基础信息
    </div>
    	<ul class="menuson">
            {% if leaveSession.hasPermission('baseInfo.college') %}
            <li><cite></cite><a href="/college?option=0" target="rightFrame">学院信息</a><i></i></li>
            {% endif %}
            {% if leaveSession.hasPermission('baseInfo.grade') %}
            <li class="active"><cite></cite><a href="/grade?option=0" target="rightFrame">班级信息</a><i></i></li>
            {% endif %}
            {% if leaveSession.hasPermission('baseInfo.student') %}
            <li><cite></cite><a href="/student?option=0" target="rightFrame">学生信息</a><i></i></li>
            {% endif %}
            {% if leaveSession.hasPermission('baseInfo.teacher') %}
            <li><cite></cite><a href="/teacher?option=0" target="rightFrame">教师信息</a><i></i></li>
            {% endif %}
        </ul>    
    </dd>
    {% endif %}

    {% if leaveSession != null and leaveSession.hasPermission('system') %}
    <dd>
    <div class="title">
    <span><img src="/static/images/leftico02.png" /></span>系统管理
    </div>
    <ul class="menuson">
        {% if leaveSession.hasPermission('system.role') %}
        <li><cite></cite><a href="/role/query" target="rightFrame">角色管理</a><i></i></li>
        {% endif %}
        </ul>
    </dd> 
    {% endif %}
    
    <dd><div class="title"><span><img src="/static/images/leftico03.png" /></span>编辑器</div>
    <ul class="menuson">
        <li><cite></cite><a href="#">自定义</a><i></i></li>
        <li><cite></cite><a href="#">常用资料</a><i></i></li>
        <li><cite></cite><a href="#">信息列表</a><i></i></li>
        <li><cite></cite><a href="#">其他</a><i></i></li>
    </ul>    
    </dd>  
    
    
    <dd><div class="title"><span><img src="/static/images/leftico04.png" /></span>日期管理</div>
    <ul class="menuson">
        <li><cite></cite><a href="#">自定义</a><i></i></li>
        <li><cite></cite><a href="#">常用资料</a><i></i></li>
        <li><cite></cite><a href="#">信息列表</a><i></i></li>
        <li><cite></cite><a href="#">其他</a><i></i></li>
    </ul>
    
    </dd>   
    
    </dl>
    
</body>
</html>
