<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});
</script>
</head>

<body>
    <div class="pagin" {{ pageUtil.isShow() }}>
    	<div class="message">共<i class="blue">{{ page.totalPages }}</i>页，当前显示第&nbsp;<i class="blue">{{ page.pageNo }}&nbsp;</i>页</div>
        <ul class="paginList">
            <li class="paginItem"><a href="{{ pageUtil.firstHref }}">首页</a></li>
            <li class="paginItem"><a href="{{ pageUtil.preHref }}" {{ pageUtil.hasPre() }}><span class="pagepre"></span></a></li>
            <li class="paginItem"><a href="{{ pageUtil.nextHref }}" {{ pageUtil.hasNext() }}><span class="pagenxt"></span></a></li>
            <li class="paginItem"><a href="{{ pageUtil.endHref }}">末页</a></li>
        </ul>
    </div>
</body>
</html>
