<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>查询老师</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="/grade?option=0">老师</a></li>
    <li><a href="/grade?option=1">查询老师</a></li>
    </ul>
    </div>
    
    <div class="formbody">
    
    <div class="formtitle"><span>查询老师</span></div>
        <form action="/teacher">
            <input type="hidden" name="option" value="{{ option }}"/>
            <ul class="forminfo">
                <li><label>班级编号</label><input name="num" type="text" class="dfinput" /><i>多个字符</i></li>
                <li><label>所属年级</label>
                    <cite>
                        <select name="periodId">
                            <option value="">请选择年级</option>
                            {% for period in periods %}
                            <option value="{{ period.id }}">{{ period.period }}</option>
                            {% endfor %}
                        </select>
                    </cite>
                </li>
                <li><label>所属学院</label>
                    <cite>
                        <select name="collegeId">
                            <option value="">请选择学院</option>
                            {% for college in colleges %}
                            <option value="{{ college.id }}">{{ college.name }}</option>
                            {% endfor %}
                        </select>
                    </cite>
                </li>
                <li><label>&nbsp;</label><input type="submit" class="btn" value="确认保存"/></li>
            </ul>
        </form>
    </div>
</body>

</html>
