<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/jquery.js"></script>

<script type="text/javascript">
$(document).ready(function(){
  $(".click").click(function(){
  $(".tip").fadeIn(200);
  });
  
  $(".tiptop a").click(function(){
  $(".tip").fadeOut(200);
});

  $(".sure").click(function(){
  $(".tip").fadeOut(100);
});

  $(".cancel").click(function(){
  $(".tip").fadeOut(100);
});

});

function formSubmit(){
    document.queryGrade.submit();
}
</script>


</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="#">首页</a></li>
    <li><a href="/grade?option=0">班级</a></li>
    <li><a href="#">列表页</a></li>
    </ul>
    </div>
    
    <div class="rightinfo">
        <form action="/grade" name="queryGrade">
            <input type="hidden" name="option" value="0"/>
            <div class="tools">
                <ul class="toolbar">
                    <li><label>所属学院</label>
                        <cite>
                            <select name="collegeId">
                                <option value="0">请选择学院</option>
                                {% for college in colleges %}
                                <option value="{{ college.id }}" {{ grade.belongToCollegeId == college.id ? 'selected=selected' : ''}}>{{ college.name }}</option>
                                {% endfor %}
                            </select>
                        </cite>
                    </li>
                    <li><label>所属年级</label>
                        <cite>
                            <select name="periodId">
                                <option value="0">请选择年级</option>
                                {% for period in periods %}
                                <option value="{{ period.id }}" {{ grade.periodId == period.id ? 'selected=selected' : ''}}>{{ period.period }}</option>
                                {% endfor %}
                            </select>
                        </cite>
                    </li>
                    <li><span><img src="static/images/ico06.png" onclick="formSubmit();" /></span></li>
                </ul>
            </div>
        </form>
    
    <div class="tools">
    	<ul class="toolbar">
            {% if leaveSession.hasPermission('baseInfo.grade.add') %}
            <li class="click"><span><img src="/static/images/t01.png" /></span>
                <a href="/grade?option=1" class="tablelink">添加</a>
            </li>
            {% endif %}
        </ul>
    </div>
    
    
    <table class="tablelist">
    	<thead>
    	<tr>
        <th>编号<i class="sort"><img src="/static/images/px.gif" /></i></th>
        <th>班级编号</th>
        <th>所属年级</th>
        <th>所属学院</th>
        <th>班主任</th>
        <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for grade in grades %}
            <tr>
                <td>{{ loop.index + 1 }}</td>
                <td>{{ grade.num }}</td>
                <td>{{ grade.period }}</td>
                <td>
                    <a href="/college?option=6&id={{ grade.belongToCollegeId }}" class="tablelink">{{ grade.belongToCollege }}</a>
                </td>
                <td>{{ grade.headTeacher }}</td>

                <td>
                    {% if leaveSession.hasPermission('baseInfo.grade.update') %}
                    <a href="/grade?option=3&id={{ grade.id }}" class="tablelink">修改</a>
                    {% endif %}
                    {% if leaveSession.hasPermission('baseInfo.grade.detail') %}
                    <a href="/grade?option=7&id={{ grade.id }}" class="tablelink">详情</a>
                    {% endif %}
                    {% if leaveSession.hasPermission('baseInfo.headTeacher') %}
                    <a href="/grade?option=6&id={{ grade.id }}" class="tablelink">指定班主任</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if page != null %}
    {% include "pageShow.html" %}
    {% endif %}
    </div>
</body>

</html>
